@import "tailwindcss";

body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF5fpDJemxogSqPSi1gQ9sbwKUqYSnadn2jA&s');
  background: size = 100%;
  background-repeat: repeat;
}
